/* p {
  color: rgb(43, 174, 144);
} */
p {
  color: rgb(169, 72, 160);
  width: 500px;
  border: 1px solid black;
}
html {
  font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family:
    "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
  /* background-color: rgb(135, 165, 125); */
  transition: background-color 0.5s ease; /* 添加过渡效果 */
  animation: bgcycle 5s infinite alternate; /* 添加动画 */
}
/* html:hover {
  background-color: rgb(154, 203, 111);
} */
@keyframes bgcycle {
  0%   { background-color: #87a57d; }
  50%  { background-color: #a357c0; }
  100% { background-color: #357ca3; }
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 20px auto;
  border: 3px solid black;
}